[submodule "third-party/ccgo"]
	path = third-party/ccgo
	url = https://github.com/lucasew/CONTRIB-ccgo
	branch = feat/tree-sitter
[submodule "third-party/tree-sitter"]
	path = third-party/tree-sitter
	url = https://github.com/lucasew/CONTRIB-tree-sitter
	branch = fix/explicit-cast
[submodule "third-party/tree-sitter-lua"]
	path = third-party/tree-sitter-lua
	url = https://github.com/tree-sitter-grammars/tree-sitter-lua
[submodule "third-party/tree-sitter-svelte"]
	path = third-party/tree-sitter-svelte
	url = https://github.com/tree-sitter-grammars/tree-sitter-svelte
[submodule "third-party/tree-sitter-json"]
	path = third-party/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json
[submodule "third-party/tree-sitter-c-sharp"]
	path = third-party/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
[submodule "third-party/tree-sitter-php"]
	path = third-party/tree-sitter-php
	url = https://github.com/tree-sitter/tree-sitter-php
[submodule "third-party/tree-sitter-ruby"]
	path = third-party/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
[submodule "third-party/tree-sitter-go"]
	path = third-party/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule "third-party/tree-sitter-java"]
	path = third-party/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "third-party/tree-sitter-bash"]
	path = third-party/tree-sitter-bash
	url = https://github.com/tree-sitter/tree-sitter-bash
[submodule "third-party/tree-sitter-html"]
	path = third-party/tree-sitter-html
	url = https://github.com/tree-sitter/tree-sitter-html
[submodule "third-party/tree-sitter-cpp"]
	path = third-party/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "third-party/tree-sitter-c"]
	path = third-party/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "third-party/tree-sitter-rust"]
	path = third-party/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "third-party/tree-sitter-javascript"]
	path = third-party/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "third-party/tree-sitter-julia"]
	path = third-party/tree-sitter-julia
	url = https://github.com/tree-sitter/tree-sitter-julia
[submodule "third-party/tree-sitter-css"]
	path = third-party/tree-sitter-css
	url = https://github.com/tree-sitter/tree-sitter-css
[submodule "third-party/tree-sitter-python"]
	path = third-party/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "third-party/tree-sitter-jsdoc"]
	path = third-party/tree-sitter-jsdoc
	url = https://github.com/tree-sitter/tree-sitter-jsdoc
[submodule "third-party/tree-sitter-regex"]
	path = third-party/tree-sitter-regex
	url = https://github.com/tree-sitter/tree-sitter-regex
[submodule "third-party/tree-sitter-nix"]
	path = third-party/tree-sitter-nix
	url = https://github.com/nix-community/tree-sitter-nix
[submodule "third-party/tree-sitter-typescript"]
	path = third-party/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
[submodule "third-party/tree-sitter-yaml"]
	path = third-party/tree-sitter-yaml
	url = https://github.com/tree-sitter-grammars/tree-sitter-yaml
[submodule "third-party/tree-sitter-toml"]
	path = third-party/tree-sitter-toml
	url = https://github.com/tree-sitter/tree-sitter-toml
[submodule "third-party/tree-sitter-markdown"]
	path = third-party/tree-sitter-markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown
[submodule "third-party/tree-sitter-hcl"]
	path = third-party/tree-sitter-hcl
	url = https://github.com/tree-sitter-grammars/tree-sitter-hcl
[submodule "third-party/tree-sitter-sql"]
	path = third-party/tree-sitter-sql
	url = https://github.com/DerekStride/tree-sitter-sql
[submodule "third-party/tree-sitter-dockerfile"]
	path = third-party/tree-sitter-dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile
[submodule "third-party/tensorflow"]
	path = third-party/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "third-party/django"]
	path = third-party/django
	url = https://github.com/django/django.git
[submodule "third-party/tree-sitter-kotlin"]
	path = third-party/tree-sitter-kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin.git
[submodule "third-party/tree-sitter-ocaml"]
	path = third-party/tree-sitter-ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml.git
