go 1.25.0

use (
	.
	./grammar
	./grammar/arduino
	./grammar/astro
	./grammar/bash
	./grammar/bicep
	./grammar/c
	./grammar/c_sharp
	./grammar/cairo
	./grammar/cmake
	./grammar/commonlisp
	./grammar/core_schema
	./grammar/cpp
	./grammar/css
	./grammar/csv
	./grammar/cuda
	./grammar/dart
	./grammar/diff
	./grammar/dockerfile
	./grammar/dtd
	./grammar/elixir
	./grammar/gitattributes
	./grammar/glsl
	./grammar/go
	./grammar/hare
	./grammar/haskell
	./grammar/hcl
	./grammar/html
	./grammar/java
	./grammar/javascript
	./grammar/jsdoc
	./grammar/json
	./grammar/json_schema
	./grammar/julia
	./grammar/kotlin
	./grammar/legacy_schema
	./grammar/lua
	./grammar/luadoc
	./grammar/luap
	./grammar/make
	./grammar/markdown
	./grammar/markdown_inline
	./grammar/nix
	./grammar/ocaml
	./grammar/ocaml_interface
	./grammar/ocaml_type
	./grammar/po
	./grammar/psv
	./grammar/puppet
	./grammar/python
	./grammar/query
	./grammar/regex
	./grammar/requirements
	./grammar/ron
	./grammar/ruby
	./grammar/rust
	./grammar/scala
	./grammar/solidity
	./grammar/svelte
	./grammar/tcl
	./grammar/terraform
	./grammar/toml
	./grammar/tsv
	./grammar/tsx
	./grammar/typescript
	./grammar/vue
	./grammar/xml
	./grammar/yaml
	./grammar/zig
)
