go 1.25.0

use (
	.
	./core
	./grammar/COBOL
	./grammar/ada
	./grammar/agda
	./grammar/angular
	./grammar/arduino
	./grammar/asm
	./grammar/astro
	./grammar/bash
	./grammar/beancount
	./grammar/bibtex
	./grammar/bicep
	./grammar/bitbake
	./grammar/blade
	./grammar/c
	./grammar/c_sharp
	./grammar/cairo
	./grammar/capnp
	./grammar/chatito
	./grammar/clojure
	./grammar/cmake
	./grammar/comment
	./grammar/commonlisp
	./grammar/core_schema
	./grammar/cpon
	./grammar/cpp
	./grammar/crystal
	./grammar/css
	./grammar/cst
	./grammar/csv
	./grammar/cuda
	./grammar/cue
	./grammar/cyberchef
	./grammar/dart
	./grammar/diff
	./grammar/dockerfile
	./grammar/doxygen
	./grammar/dtd
	./grammar/eex
	./grammar/elixir
	./grammar/elm
	./grammar/embedded_template
	./grammar/erlang
	./grammar/firrtl
	./grammar/fish
	./grammar/func
	./grammar/gdscript
	./grammar/git_config
	./grammar/git_rebase
	./grammar/gitattributes
	./grammar/gitcommit
	./grammar/gitignore
	./grammar/gleam
	./grammar/glsl
	./grammar/gn
	./grammar/go
	./grammar/godot_resource
	./grammar/gosum
	./grammar/gpg
	./grammar/graphql
	./grammar/groovy
	./grammar/gstlaunch
	./grammar/hare
	./grammar/haskell
	./grammar/hcl
	./grammar/heex
	./grammar/hlsl
	./grammar/html
	./grammar/http
	./grammar/hyprlang
	./grammar/ini
	./grammar/ispc
	./grammar/java
	./grammar/javascript
	./grammar/jsdoc
	./grammar/json
	./grammar/json5
	./grammar/json_schema
	./grammar/julia
	./grammar/just
	./grammar/kconfig
	./grammar/kdl
	./grammar/kotlin
	./grammar/legacy_schema
	./grammar/linkerscript
	./grammar/llvm
	./grammar/lua
	./grammar/luadoc
	./grammar/luap
	./grammar/luau
	./grammar/make
	./grammar/markdown
	./grammar/markdown_inline
	./grammar/matlab
	./grammar/meson
	./grammar/move
	./grammar/nasm
	./grammar/nginx
	./grammar/nickel
	./grammar/nim
	./grammar/nix
	./grammar/nqc
	./grammar/objc
	./grammar/objdump
	./grammar/ocaml
	./grammar/ocaml_interface
	./grammar/ocaml_type
	./grammar/odin
	./grammar/pascal
	./grammar/pem
	./grammar/php
	./grammar/php_only
	./grammar/pkl
	./grammar/po
	./grammar/poe_filter
	./grammar/pony
	./grammar/powershell
	./grammar/printf
	./grammar/prisma
	./grammar/properties
	./grammar/proto
	./grammar/psv
	./grammar/puppet
	./grammar/purescript
	./grammar/pymanifest
	./grammar/python
	./grammar/ql
	./grammar/ql_dbscheme
	./grammar/qmldir
	./grammar/query
	./grammar/racket
	./grammar/rasi
	./grammar/re2c
	./grammar/readline
	./grammar/regex
	./grammar/rego
	./grammar/requirements
	./grammar/rescript
	./grammar/roc
	./grammar/ron
	./grammar/ruby
	./grammar/rust
	./grammar/scala
	./grammar/scheme
	./grammar/scss
	./grammar/slang
	./grammar/smali
	./grammar/smithy
	./grammar/sml
	./grammar/solidity
	./grammar/sparql
	./grammar/squirrel
	./grammar/ssh_config
	./grammar/starlark
	./grammar/surface
	./grammar/svelte
	./grammar/tablegen
	./grammar/tcl
	./grammar/templ
	./grammar/terraform
	./grammar/test
	./grammar/thrift
	./grammar/toml
	./grammar/tsv
	./grammar/tsx
	./grammar/turtle
	./grammar/twig
	./grammar/typescript
	./grammar/typst
	./grammar/udev
	./grammar/ungrammar
	./grammar/uxntal
	./grammar/verilog
	./grammar/vhdl
	./grammar/vim
	./grammar/vimdoc
	./grammar/vue
	./grammar/wast
	./grammar/wat
	./grammar/wgsl
	./grammar/wgsl_bevy
	./grammar/wit
	./grammar/xcompose
	./grammar/xml
	./grammar/yaml
	./grammar/yuck
	./grammar/zig
)
